.container-fluid{
    width: 100%;
    .row {
 .divfooter {
     justify-content: center;

     .linkFooter {
         text-decoration: none;

         .fa-brands {
             color: $icono-p-footer;
             font-size: 25px;
             transform: translate(30px, 34px);
         }

         .parrafooter {
             color: $icono-p-footer;
             transform: translate(59px, 0px);
             font-size: 25px;
             width: auto;
         }
     }
 }
}
}

 @each $redSocial,
 $colorDeRedes in $redes {
     .fa-#{$redSocial} {
         background-color: $colorDeRedes;
         border-radius: 15px;
     }
 }

 .fa-twitter{
    border-radius: 6px;
 }