@import url('https://fonts.googleapis.com/css2?family=Bangers&family=DynaPuff&display=swap');

$fontBang: 'Bangers', cursive;

$fondo-p-Carousel: rgb(7, 7, 7, 0.261);

$degradPage: linear-gradient(to bottom, white, rgb(59, 58, 58));

$icono-p-footer: rgb(255, 249, 249);

$redes: (
    facebook: rgb(25, 25, 236),
    instagram: rgb(247, 67, 97),
    twitter: rgb(0, 238, 255),
    whatsapp: green,
);

